<div class="background">
  
  <div class="titulo">
    <img src="assets/img/daycheck.png" alt="logo">
    <h1>DayCheck</h1>
  </div>

  <div class="logos">
    <a href="https://jonanderperez-e8b20.web.app/" target="_blank"><img class="mb-1" src="assets/icon/portfolio.ico"></a>
    <a href="https://www.linkedin.com/in/jon-ander-perez-garcia-02a715175/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/JonAnderPerez" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/JonanPG/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>

  <div class="descripcion">
    <h3>Aplicacion para la gestión de objetivos. Con notificaciones y control diario del progreso.</h3>
  </div>

  <div class="mockup">
    <img src="assets/img/daycheckMockup.png" alt="mockup">
  </div>

  <div class="download">
    <h3>Descargar</h3>
    <a href="https://drive.google.com/file/d/1w6SK1w13tmix05Fv4jQrPFEqjTkUHf83/view?usp=sharing" target="_blank"><img src="assets/icon/android.png" alt="Android"></a>
    <img src="assets/icon/apple.png" alt="IOS">
  </div>

</div>